<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->


{% extends 'admin_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1" class="table table-striped table-hover">
      <tr>
         <!--<th>Id</th>-->
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Phone</th>
        <td>&nbsp;</td>
      </tr>
      {% for i in val %}
      <tr>
        <!--<td>&nbsp;{{ i[0]}}</td>-->
        <td>&nbsp;{{ i[1]}}</td>
        <td>&nbsp;{{ i[2]}}</td>
        <td>&nbsp;{{ i[4]}}</td>
        <td>&nbsp;{{ i[3]}}</td>
        <td><p>{% if i[10 ]=="cc" %} <a href=cc_block?id={{i[0]}}" class="btn btn-danger">Block</a> {% else %}</p>
        <p><a href=cc_unblock?id={{i[0]}}">Unblock</a></p> {% endif %}</td>
      </tr>
      {% endfor %}
      </table>
  </div>
</form>
</body>

{% endblock %}
<!--</html>-->
