# Gradle related
.gradle/
build/
app/build/
*.iml
local.properties

# Android Studio related
.idea/

# Gradle wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Logs and temporary files
hs_err_pid*.log
replay_pid*.log

# Ignore APK if not version controlling it
app-debug.apk

# other
.DS_Store
/captures
.externalNativeBuild
.cxx
